body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; 
  font-size:40px;
}

body h1{
  
  font-weight:900;
}

body p{
  font-size: large;
  padding-bottom: 40px;
}

.total-section{
  padding: 100px;
}

.top-section{
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),url(flood5.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.top-item{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 15%;
  padding-bottom: 15%;
  text-align: center;
  color: rgb(1, 255, 255);
}

.top-item p{
  color: white;
}

#btn{
  text-decoration: none;
  color: white;
  background-color: salmon;
  border-radius: 5px;
  padding: 10px 40px;
}

.donate-today{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.donate-amount{
  width:100%;
  display: flex;
  justify-content: center;
}

.donate-item{
  margin-right: 1%;
  padding: 60px;
  background-color: rgb(226, 218, 218);
  border-radius: 10%;
}

#money{
  border: 2px solid blue;
  background-color: rgb(168, 168, 211);
}

#input{
  width: 40%;
  margin-left: 30%;
  margin-right: 20%;
  margin-bottom: 2%;
  margin-top: 5%;
  text-align: center;
  padding-top :20px;
  font-size: 30px;
  border:none;
  border-bottom: 2px solid gray;
}

#btn2{
  text-decoration: none;
  color: white;
  background-color: salmon;
  border-radius: 5px;
  padding: 10px 40px;
  margin-left: 43%;
  margin-bottom: 2%;
}

.donate-plan{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  padding-top: 50px;
}

.card-item{
  display: flex;
  text-align: center;
}

.quarter-width1{
  width: 30%;
  margin:1.5%;
  background-color: rgba(159, 234, 240, 0.301);
  padding: 40px;
  justify-content: space-evenly;
  border-radius: 10px;
}

.quarter-width2{
  width: 30%;
  margin:1.5%;
  background-color: rgba(220, 214, 221,0.3);
  padding: 40px;
  justify-content: space-evenly;
  border-radius: 10px;
}

.quarter-width3{
  width: 30%;
  margin:1.5%;
  background-color: rgba(187, 233, 228, 0.3);
  padding: 40px;
  justify-content: space-evenly;
  border-radius: 10px;
}

#icon{
  font-size: 60px;
}

.support-section{
  display: flex;
  width: 100%;
  
}

.support-item{
  width: 40%;
  padding:100px;
}

.support-item img{
  width: 100%;
  padding-left:  50px;
  
}

.support-section2{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  box-shadow: 1px 2px 9px 4px rgba(69,56,56,0.75);
}

.support-section2 img{
  width: 100%;
}

#btn3{
  text-decoration: none;
  color: white;
  background-color: salmon;
  border-radius: 5px;
  padding: 10px 40px;
}

.buttom-section{
  background-color: rgba(199, 235, 238,0.2);
  padding-bottom: 100px;
  
}

.bottom-item{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  padding-top: 50px;
  
}

.form{
  display: flex;
  position: relative;
  margin:0% 20%;
  background-color: rgba(202, 202, 181,0.5);
  padding: 5% 10%;
  
}

#form-input{
  width: 40%;
  padding: 10px;
  border: none;
  margin-left: 20%;
  background-color: rgb(238, 237, 237);
}

#form-button{
  width: 20%;
  padding: 10px;
  border: none;
  background-color: red;
  color: white;
}

footer{
  text-align:center;
  background-color: black;
  padding: 40px;
  color: white;
}

footer h1{
  color: red;
  font-family: 'Splash', cursive;
  font-weight: 400;
}





